<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Java Spring </h1>
<h1><a th:href="@{/user/list}">用户详情页</a></h1>
<h1><a th:href="@{/order/list}">订单详情页</a></h1>
<h1><a th:href="@{/a1a/test7/}">测试@RuquestMapping中的占位符==>?</a></h1>
<h1><a th:href="@{/a1a/test7/}">测试@RuquestMapping中的占位符==>*</a></h1>
<h1><a th:href="@{/a1a/test7/}">测试@RuquestMapping中的占位符==>/**</a></h1>
<h1><a th:href="@{/test8/1/admin}">测试@RuquestMapping中支持Ant风格的路径</a></h1>

<h1><a th:href="@{/servletApi(username='admin',password=123456)}">测试HttpServletRequest获取参数</a></h1>
<h1><a th:href="@{/servletApi1(username='admin',password=123456)}">测试SpringMVC 通过构造器形参获取参数</a></h1>

<form th:action="@{/servletApi2}" method="get">
    用户名:<input type="text" name="user_name"><br>
    密码: <input type="password" name="password"><br>
    爱好:<input type="checkbox" name="hobby" value="篮球">篮球
    <input type="checkbox" name="hobby" value="读书" >读书
    <input type="checkbox" name="hobby" value="游泳">游泳<br>
    性别:<input type="text" name="gender"><br>
    年龄:<input type="text" name="age"><br>
    邮箱:<input type="text" name="email"><br>
    <input type="submit">
</form>
<br>
<br>
<br>

<form th:action="@{/testpojo}" method="get">
    用户名:<input type="text" name="user_name"><br>
    密码: <input type="password" name="password"><br>
    爱好:<input type="checkbox" name="hobby" value="篮球">篮球
    <input type="checkbox" name="hobby" value="读书" >读书
    <input type="checkbox" name="hobby" value="游泳">游泳<br>
    性别:<input type="text" name="gender"><br>
    年龄:<input type="text" name="age"><br>
    邮箱:<input type="text" name="email"><br>
    <input type="submit">
</form>
</body>
</html>